{% extends 'photo/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<body class="m-5">
    <div class="container">
        <div class="row justify-content-center">
            
           <div class="col-md-4">
            <h2>Login</h2>
               <a href="{% url 'gallery' %}" class="btn btn-dark my-3">Go Back</a>
               <div class="card">
                   <form class="form-group m-3" method="POST">
                       {% csrf_token%}
                       {{form|crispy}}
                       
                       <input type="submit" class="btn btn-primary m-3" value="Login">
                   </form>
               </div>
           </div>
        </div>

    </div>
    </body>
{%endblock %}
